body,
html {
    font-family: "Open Sans", Arial, system-ui, sans-serif;
    font-weight: 400;
    background-color: #87CEFA;
}

.titleDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.titleDiv .avatar {
    width: 50px;
    height: 50px;
    border-radius: 30px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.playbtn {
    margin: 12px;
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 16px 36px;
    border: 4px solid;
    border-color: transparent;
    font-size: 16px;
    background-color: inherit;
    border-radius: 100px;
    font-weight: 600;
    color: #adff2f;
    box-shadow: 0 0 0 2px #adff2f;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
    /* From Uiverse.io by LightAndy1 */
}

.playbtn svg {
    position: absolute;
    width: 24px;
    fill: #adff2f;
    z-index: 9;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.playbtn .arr-1 {
    right: 16px;
}

.playbtn .arr-2 {
    left: -25%;
}

.playbtn .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: #2929ca;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.playbtn .text {
    position: relative;
    z-index: 1;
    transform: translateX(-12px);
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.playbtn:hover {
    box-shadow: 0 0 0 12px transparent;
    color: #fff;
    border-radius: 12px;
}

.playbtn:hover .arr-1 {
    right: -25%;
}

.playbtn:hover .arr-2 {
    left: 16px;
}

.playbtn:hover .text {
    transform: translateX(12px);
}

.playbtn:hover svg {
    fill: #fff;
}

.playbtn:active {
    scale: 0.95;
    box-shadow: 0 0 0 4px #2929ca;
}

.playbtn:hover .circle {
    width: 220px;
    height: 220px;
    opacity: 1;
}