*, body, html {
    font-family: Arial, Helvetica, sans-serif;
    background: skyblue;
}

.container {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    
    sl-avatar {
        display: flex;
        align-items: center;
        justify-content: start;
        flex-direction: column;
    }

    button {
        background-color: white;
    }
}