*, body, html {
    font-family: Arial, Helvetica, sans-serif;
    background: skyblue;
}

.container {
    sl-avatar {
        display: flex;
        align-items: center;
        justify-content: start;
        flex-direction: column;
    }
    
    h1 {
        display: flex;
        align-items: center;
        justify-content: start;
        flex-direction: column;
    }
}